html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 #{user.username}
      p Your Password is 
        u #{user.password}(style="color:green;")
